.table {
border: 6px solid black;
height: 211px; 
font-size: larger;
font-weight: 200;
font-style: bold;   
margin-inline: 355px;
color: rgb(55, 33, 66)
}

thead {
    border:0px solid black;
    gap: 2;
}
tr{
    border:px solid black;
}
tr {
    background-color: aquamarine;
}
table{
    background-color: rgb(0, 0, 0);
}
body{
    
}
thead>tr>th{
    background-color: aqua;
}